*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h1{
    background-color: #ffffff00;
    padding: 40px 80px;
    border-radius: 15px;
    border: 2px dashed cyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #afafaf;
}
button{
    padding: 10px 30px;
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    font-weight: 700;
    color: #000000;
    background: cyan;
}
button:hover{
    background: transparent;
    box-shadow: 3px 3px 15px 3px cyan;
    color: cyan;
}