*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gmap-box{
    height: auto;
    width: auto;
    padding: 30px;
    background: orangered;
    border-radius: 20px;
}
iframe{
    border-radius: 10px;
}